### mrwizardwizard's github ###
### https://github.com/mrwizardwizard ###

[Unit]
Description=Change MAC Systemd Service
After=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/bin/ip link set dev wlan0 address xx:xx:xx:xx:xx:xx

[Install]
WantedBy=multi-user.target
