[Unit]
Description=Set TX power Systemd Service
After=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/bin/iw $INTERFACE set txpower fixed 500

[Install]
WantedBy=multi-user.target
