### mrwizardwizard's github ###
### https://github.com/mrwizardwizard ###

# staticnet-inbound and staticnet-outbound is to be used with nat masqueradeing (use nftables ip nat chain postrouting).
# staticnet-outbound(interface1)>staticnet-inbound(interface2)>iif masquerade(interface2)>dhcp client(interface3).

[Unit]
Description=StaticNET-Outbound Systemd Service

[Service]
Type=oneshot

# Bring interface up and set interface parameters
ExecStart=/usr/bin/ip link set $INTERFACE up multicast off

# Set interface IP
ExecStart=/usr/bin/ip address add $SOURCEIP/31 dev $INTERFACE noprefixroute

# Set interface and destination IP
ExecStart=/usr/bin/ip route add default dev $INTERFACE
ExecStart=/usr/bin/ip route replace default via $DESTINATIONIP

[Install]
WantedBy=multi-user.target
